matplotlib             3.5.3
numpy                  1.21.6
opencv-python          4.11.0.86
paho-mqtt              2.1.0
pandas                 1.3.5
python                 3.7
PyYAML                 6.0.1
torch                  1.13.1
torchvision            0.14.1
ultralytics            8.0.145
urllib3                2.0.7
